
{% assign collections = site.data.collections-data ' %}

<script>
    var allCollections = [
        {% for c in collections %}{ "path":{{ c.path | jsonify }}, {% if c.path and c.cdmid and c.path != c.cdmid %}"cdmid":{{ c.cdmid | jsonify }}{% else %}"cdmid":""{% endif%}, {% if c.path == 'lumber' %}"digital":""{% else %}"digital":"digital-"{% endif%}, "title":{{ c.title | jsonify }}}{% unless forloop.last %}, {% endunless %}{% endfor %}
    ];
    var collectionOptions = allCollections.map(i => `<option value="${i.path}" data-cdmid="${i.cdmid}">${i.path} - ${i.title}</option>`).join(" ");
    document.getElementById('collectionID').innerHTML = '<option value="">Cover Image Collection</option>' + collectionOptions;

   // define button
    var btn = document.getElementById('generate');

    // generate include
    btn.addEventListener('click', function(){
    // get include options, check if blank, and set up in template
    var collection = document.getElementById('collectionID');
    if (collection.value == 'lumber'){
    var includeCollection = "";
    var includeCDM = "";
    }
    else {
    var includeCollection = collection.value ? `\r\ncover-image-collection: ${collection.value}` : "";
    var includeCDM = collection.options[collection.selectedIndex].dataset.cdmid ? `\r\ncover-image-cdm-collection: ${collection.options[collection.selectedIndex].dataset.cdmid}` : "";}
    var includeObjectid = document.getElementById('itemID').value ? `${document.getElementById('itemID').value}` : "";
    var includeTitle = document.getElementById('postTitle').value ? `${document.getElementById('postTitle').value}` : "";
    var includeSubtitle = document.getElementById('postSubtitle').value ? `${document.getElementById('postSubtitle').value}` : "";
    var includeCategory = document.getElementById('postCategory').value ? `${document.getElementById('postCategory').value}` : "";
    var includeSubject1 = document.getElementById('postSubject1').value ? `"${document.getElementById('postSubject1').value}"` : "";
    var includeSubject2 = document.getElementById('postSubject2').value ? `,"${document.getElementById('postSubject2').value}"` : "";
    var includeSubject3 = document.getElementById('postSubject3').value ? `,"${document.getElementById('postSubject3').value}"` : "";
    var includeSubject4 = document.getElementById('postSubject4').value ? `,"${document.getElementById('postSubject4').value}"` : "";
    var includeSubject5 = document.getElementById('postSubject5').value ? `,"${document.getElementById('postSubject5').value}"` : "";
    var includeSubject6 = document.getElementById('postSubject6').value ? `,"${document.getElementById('postSubject6').value}"` : "";
    var includeDateTime = new Date().toISOString().slice(0, 10) + ' 04:01:59 -0800';
    // check required options
    if (collection == "") {
        alert('Please choose a collection!');
    } else if (includeObjectid == "") {
        alert('Please include the objectid for your cover image');
    } 
    else {

        // set up include code 
        var include = 
                        `<div class="card">
                            <div class="m-4">
                                <p>
                                    <strong>Generated Post</strong><br>
                                    <small class="text-muted">Download the below as a markdown file or copy and paste it into a new post.</small><br>
<textarea id="frontmatter-val" rows="15" cols="50">{% raw %}
---
title: "${includeTitle}"
date: ${includeDateTime}
tags: [${includeSubject1}${includeSubject2}${includeSubject3}${includeSubject4}${includeSubject5}${includeSubject6}]
subtitle: ${includeSubtitle}
cover-image: ${includeObjectid}${includeCollection}${includeCDM}
categories: [${includeCategory}]
---


{% endraw %}
</textarea>
                                    <br>
                                    <button type="submit" id="download-markdown" onclick="fileCreate();" class="btn btn-primary m-5">Download Post File</button>
                                </p>
                            </div>
                        </div>`;
                    // add to page
                    document.getElementById('include-output').innerHTML = include;
                }
            });

            // refresh button
            document.getElementById('reload').addEventListener('click', function(){
                window.location.reload();
            });



    
    function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);
    element.style.display = 'none';
    document.body.appendChild(element);
    element.click();
    document.body.removeChild(element);
    }
    function fileCreate(){
    // Generate download of hello.txt file with some content
    var text = document.getElementById("frontmatter-val").value;
    var dateJs = new Date();
    var date = dateJs.toISOString().slice(0, 10);
    var title = document.getElementById("postTitle").value;
    var filetitle = title.replace(/[^a-z0-9]/gi, '-').toLowerCase();
    var filename = date + "-" + filetitle + ".md";
    download(filename, text);
    };
</script>